In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
loc = pd.read_csv('행정동코드.csv', encoding='cp949')
loc.head()

   출발 행정동 코드     도시  자치구  행정동
0    1101053  서울특별시  종로구  사직동
1    1101054  서울특별시  종로구  삼청동
2    1101055  서울특별시  종로구  부암동
3    1101056  서울특별시  종로구  평창동
4    1101057  서울특별시  종로구  무악동

In [5]:
s1 = pd.read_csv('2023이동1시.csv', encoding='cp949')
#s1.head()

In [6]:
S1 = pd.merge(s1, loc, on='출발 행정동 코드')
S1.head()

   도착시간  출발 행정동 코드  도착 행정동 코드 성별    나이     도시  자치구  행정동
0    13  1101053.0  1101053.0  M  25.0  서울특별시  종로구  사직동
1    13  1101053.0  1101053.0  F  10.0  서울특별시  종로구  사직동
2    13  1101053.0  1101053.0  F  10.0  서울특별시  종로구  사직동
3    13  1101053.0  1101053.0  F  10.0  서울특별시  종로구  사직동
4    13  1101053.0  1101053.0  F  10.0  서울특별시  종로구  사직동

In [7]:
s2 = pd.read_csv('2023이동2시.csv', encoding='cp949')
#s2.head()

In [8]:
S2 = pd.merge(s2, loc, on='출발 행정동 코드')
S2.head()

   도착시간  출발 행정동 코드  도착 행정동 코드 성별  나이     도시  자치구  행정동
0    14    1101053    1101053  M  45  서울특별시  종로구  사직동
1    14    1101053    1101053  F  30  서울특별시  종로구  사직동
2    14    1101053    1101053  F  30  서울특별시  종로구  사직동
3    14    1101053    1101053  F  30  서울특별시  종로구  사직동
4    14    1101053    1101053  F  30  서울특별시  종로구  사직동

In [9]:
s3 = pd.read_csv('2023이동3시.csv', encoding='cp949')
#s3.head()

In [10]:
S3 = pd.merge(s3, loc, on='출발 행정동 코드')
S3.head()

   출발 행정동 코드  도착 시간  도착 행정동 코드 성별    나이     도시  자치구  행정동
0    1101053   15.0  1101053.0  F  50.0  서울특별시  종로구  사직동
1    1101053   15.0  1101053.0  M  80.0  서울특별시  종로구  사직동
2    1101053   15.0  1101053.0  M  80.0  서울특별시  종로구  사직동
3    1101053   15.0  1101054.0  F   0.0  서울특별시  종로구  사직동
4    1101053   15.0  1101054.0  F  10.0  서울특별시  종로구  사직동

In [11]:
s4 = pd.read_csv('2023이동4시.csv', encoding='cp949')
#s4.head()

In [12]:
S4 = pd.merge(s4, loc, on='출발 행정동 코드')
S4.head()

   도착시간  출발 행정동 코드  도착 행정동 코드 성별    나이     도시  자치구  행정동
0    16  1101053.0  1101053.0  F   0.0  서울특별시  종로구  사직동
1    16  1101053.0  1101053.0  M  35.0  서울특별시  종로구  사직동
2    16  1101053.0  1101053.0  M  35.0  서울특별시  종로구  사직동
3    16  1101053.0  1101053.0  M  35.0  서울특별시  종로구  사직동
4    16  1101053.0  1101053.0  M  35.0  서울특별시  종로구  사직동

In [25]:
# 출발 데이터 통합
gu1 = S1['자치구'].value_counts()
gus1 = gu1.sort_values(ascending=False)
gu2 = S2['자치구'].value_counts()
gus2 = gu2.sort_values(ascending=False)
gu3 = S3['자치구'].value_counts()
gus3 = gu3.sort_values(ascending=False)
gu4 = S4['자치구'].value_counts()
gus4 = gu4.sort_values(ascending=False)

GUS = pd.concat([gus1, gus2, gus3, gus4], axis=1)
GUS.head(10)

          자치구      자치구    자치구    자치구
광진구   33498.0  33983.0  34726  34984
성동구   31032.0  30974.0  31488  32473
용산구   29873.0  30315.0  31172  32950
종로구   29035.0  32140.0  36771  41112
중구    28104.0  31372.0  33953  36114
동대문구  16534.0  32047.0  31975  31677
중랑구       NaN  19230.0  27816  27243
성북구       NaN      NaN  35313  34319
강북구       NaN      NaN  23970  22533
도봉구       NaN      NaN   6923    771

In [20]:
# 출발 데이터 결측치 0으로 대체
GUSS = GUS.fillna(0)
GUSS.head(10)

          자치구      자치구    자치구    자치구
광진구   33498.0  33983.0  34726  34984
성동구   31032.0  30974.0  31488  32473
용산구   29873.0  30315.0  31172  32950
종로구   29035.0  32140.0  36771  41112
중구    28104.0  31372.0  33953  36114
동대문구  16534.0  32047.0  31975  31677
중랑구       0.0  19230.0  27816  27243
성북구       0.0      0.0  35313  34319
강북구       0.0      0.0  23970  22533
도봉구       0.0      0.0   6923    771

In [35]:
GUSS.reset_index(drop = False, inplace = True)
GUSS.head()

자치구 index      13시      14시    15시    16시
0     광진구  33498.0  33983.0  34726  34984
1     성동구  31032.0  30974.0  31488  32473
2     용산구  29873.0  30315.0  31172  32950
3     종로구  29035.0  32140.0  36771  41112
4      중구  28104.0  31372.0  33953  36114

In [36]:
# 인덱스 이름 변경 & 다중 인덱스 정렬
GUSS.columns = ['자치구','13시','14시','15시','16시']
GUSS.head(10)

    자치구      13시      14시    15시    16시
0   광진구  33498.0  33983.0  34726  34984
1   성동구  31032.0  30974.0  31488  32473
2   용산구  29873.0  30315.0  31172  32950
3   종로구  29035.0  32140.0  36771  41112
4    중구  28104.0  31372.0  33953  36114
5  동대문구  16534.0  32047.0  31975  31677
6   중랑구      0.0  19230.0  27816  27243
7   성북구      0.0      0.0  35313  34319
8   강북구      0.0      0.0  23970  22533
9   도봉구      0.0      0.0   6923    771

In [17]:
care = pd.read_csv('노인복지.csv')
care.head()

,자치구,노인인구,양로시설수,양로시설정원,양로시설현원,양로시설종사자수,요양시설수,요양시설정원,요양시설현원,요양시설종사자수,노인복지시설수,노인복지종사자수,경로당,노인교실,노인일자리시설수,노인일자리종사자수
0,종로구,"28,311",1,57,45,14,8,347,325,245,3,111,63,9,1,6
1,중구,"24,174",0,0,0,0,2,74,72,61,2,66,48,4,0,0
2,용산구,"39,779",0,0,0,0,3,194,195,136,2,75,88,20,0,0
3,성동구,"45,435",0,0,0,0,3,391,359,234,4,82,162,13,0,0
4,광진구,"50,311",1,760,554,73,8,487,453,295,1,63,95,10,1,6

In [37]:
seoul = pd.merge(GUSS, care, on='자치구')
seoul

,자치구,13시,14시,15시,16시,노인인구,양로시설수,양로시설정원,양로시설현원,양로시설종사자수,요양시설수,요양시설정원,요양시설현원,요양시설종사자수,노인복지시설수,노인복지종사자수,경로당,노인교실,노인일자리시설수,노인일자리종사자수
0,광진구,33498.0,33983.0,34726,34984,"50,311",1,760,554,73,8,487,453,295,1,63,95,10,1,6
1,성동구,31032.0,30974.0,31488,32473,"45,435",0,0,0,0,3,391,359,234,4,82,162,13,0,0
2,용산구,29873.0,30315.0,31172,32950,"39,779",0,0,0,0,3,194,195,136,2,75,88,20,0,0
3,종로구,29035.0,32140.0,36771,41112,"28,311",1,57,45,14,8,347,325,245,3,111,63,9,1,6
4,중구,28104.0,31372.0,33953,36114,"24,174",0,0,0,0,2,74,72,61,2,66,48,4,0,0
5,동대문구,16534.0,32047.0,31975,31677,"61,612",0,0,0,0,4,224,208,140,1,41,134,16,1,5
6,중랑구,0.0,19230.0,27816,27243,"69,341",0,0,0,0,10,859,781,512,5,156,127,11,0,0
7,성북구,0.0,0.0,35313,34319,"73,613",0,0,0,0,16,715,613,400,6,110,175,9,1,6
8,강북구,0.0,0.0,23970,22533,"63,313",0,0,0,0,8,503,482,322,1,35,100,17,0,0
9,도봉구,0.0,0.0,6923,771,"62,009",1,26,21,7,21,848,780,518,5,95,135,9,1,6

In [38]:
print(seoul.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   자치구        10 non-null     object
 1   13시        10 non-null     float64
 2   14시        10 non-null     float64
 3   15시        10 non-null     int64
 4   16시        10 non-null     int64
 5   노인인구       10 non-null     object
 6   양로시설수      10 non-null     int64
 7   양로시설정원     10 non-null     int64
 8   양로시설현원     10 non-null     int64
 9   양로시설종사자수   10 non-null     int64
 10  요양시설수      10 non-null     int64
 11  요양시설정원     10 non-null     object
 12  요양시설현원     10 non-null     int64
 13  요양시설종사자수   10 non-null     int64
 14  노인복지시설수    10 non-null     int64
 15  노인복지종사자수   10 non-null     int64
 16  경로당        10 non-null     int64
 17  노인교실       10 non-null     int64
 18  노인일자리시설수   10 non-null     int64
 19  노인일자리종사자수  10 non-null     int64
dtypes: float64(2), int64(15), object(3)
memory usage: 1.6+ KB
None

In [39]:
seoul.apply(pd.to_numeric, errors = 'coerce')
seoul['16시'] = pd.to_numeric(seoul['16시'])
seoul['노인인구'] = pd.to_numeric(seoul['노인인구'].str.replace(',',''))
seoul['요양시설정원'] = pd.to_numeric(seoul['요양시설정원'].str.replace(',',''))

In [40]:
# encording
from sklearn import preprocessing

def encode_seoul(seoul):
    features = ['자치구']
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(seoul[feature])
        seoul[feature] = le.transform(seoul[feature])

    return seoul

In [41]:
seoul = encode_seoul(seoul)
print(seoul.info())
# 데이터 셋이 모두 숫자형태로 변경됨

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   자치구        10 non-null     int64
 1   13시        10 non-null     float64
 2   14시        10 non-null     float64
 3   15시        10 non-null     int64
 4   16시        10 non-null     int64
 5   노인인구       10 non-null     int64
 6   양로시설수      10 non-null     int64
 7   양로시설정원     10 non-null     int64
 8   양로시설현원     10 non-null     int64
 9   양로시설종사자수   10 non-null     int64
 10  요양시설수      10 non-null     int64
 11  요양시설정원     10 non-null     int64
 12  요양시설현원     10 non-null     int64
 13  요양시설종사자수   10 non-null     int64
 14  노인복지시설수    10 non-null     int64
 15  노인복지종사자수   10 non-null     int64
 16  경로당        10 non-null     int64
 17  노인교실       10 non-null     int64
 18  노인일자리시설수   10 non-null     int64
 19  노인일자리종사자수  10 non-null     int64
dtypes: float64(2), int64(18)
memory usage: 1.6 KB
None

In [42]:
import csv
seoul.to_csv("seoul.csv")